:root {
  --brand-color__primary-0: #f29c46;
  --brand-color__primary-1: #c14d19;
  --brand-color__secondary-0: #72bc54;
  --neutral-color__neutral-0: #262626;
  --neutral-color__neutral-1: #292929;
  --neutral-color__neutral-2: #666666;
  --neutral-color__neutral-3: #a3a3a3;
  --neutral-color__neutral-4: #cccccc;
  --neutral-color__neutral-5: #e0e0e0;
  --neutral-color__neutral-6: #f5f5f5;
  --neutral-color__neutral-7: #ffffff;
  --font-title-1: normal 20px Segoe UI;
  --font-paragrafo: normal 17px/24px Segoe UI;
  --font-subtitle-1: 600 17px Segoe UI;
  --font-subtitle-2: 200 17px Segoe UI;
  --font-button: 600 17px Montserrat;
  --font-legend: normal 17px Segoe UI;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;
  height: 117px;
  background-color: var(--brand-color__primary-0);
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  align-items: center;
  margin-left: 4.25em; /* 68px;*/
}

.header__exit {
  display: block;
  align-items: center;
  margin-top: 38px;
  margin-right: 3.9em; /* 63px*/
}

.header__title__text {
  font: var(--font-title-1);
}

.header__title__img {
  margin-right: 2.25em; /* 36px;*/
}

.header__exit__text {
  font: var(--font-legend);
}

.categories {
  width: 100%;
}

.categories__container {
  padding-right: 2.4vw; /*32px;*/
  padding-left: 4.8vw; /*64px;*/
  display: flex;
  justify-content: space-between;
}

.categories__container .btn {
  margin-right: 2.4vw; /*32px;*/
  margin-top: 2.4vw; /*32px;*/
}

/*botões*/
.btn {
  border-radius: 16px;
  height: 7.8vh; /*51px;*/
  width: 22.3vw; /*18em; 304px;*/
  min-width: 9.5vw; /*130px*/
  text-align: center;
  font: var(--font-button);
}

.btn__habilitado--primary,
.btn__selecionado--primary,
.modal__content__body--input-yes {
  background-color: var(--brand-color__primary-1);
  color: var(--neutral-color__neutral-7);
  border: none;
  border-color: var(--brand-color__primary-1);
  font: var(--font-button);
}

.btn__habilitado--secondary,
.btn__selecionado--secondary,
.modal__content__body--input-no {
  border: none;
  border-color: var(--brand-color__primary-1);
  color: var(--brand-color__primary-1);
}

.btn__habilitado--tertiary {
  border-color: var(--neutral-color__neutral-0);
  color: var(--neutral-color__neutral-0);
  background-color: var(--neutral-color__neutral-7);
}

.btn__habilitado--tertiary:active,
.btn__habilitado--tertiary:hover {
  border-color: var(--brand-color__secondary-0);
  color: var(--brand-color__secondary-0);
}

.btn__selecionado--tertiary {
  background-color: var(--neutral-color__neutral-7);
  border-color: var(--brand-color__secondary-0);
  color: var(--brand-color__secondary-0);
}

.btn__desabilitado--primary {
  background-color: var(--neutral-color__neutral-3);
  color: var(--neutral-color__neutral-7);
  border: none;
  font: var(--font-button);
}

.btn__desabilitado--secondary,
.btn__desabilitado--terciary {
  border: none;
  border-color: var(--neutral-color__neutral-3);
  color: var(--neutral-color__neutral-3);
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 120px;
  justify-content: space-between;
}

.filters__products {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4em; /* 64.5px;*/
}

.filters__products__all {
  font: var(--font-paragrafo);
  display: flex;
  align-items: flex-start;
}

.filters__products__all--img {
  padding-right: 8px;
}

.filters__products__search {
  background-color: var(--neutral-color__neutral-6);
  background-image: url(assets/icons/ic_busca.svg);
  background-position-y: center;
  background-position-x: left;
  background-position: 14px;
  background-repeat: no-repeat;
  height: 47px;
  width: 40em; /* width: 640px;*/
  margin-left: 8.2em; /* margin-left: 140px; */
  padding-left: 50px;
  color: #595555;
  font: var(--font-paragrafo);
  border-radius: 16px;
  display: flex;
  align-items: center;
  border: none;
}

.registration__form__select:focus {
  border: 1px solid var(--brand-color__primary-1);
  outline: 0;
}

.registration__form__select {
  margin-bottom: 32px;
  padding-left: 16px;
}

.registration__form__select option {
  color: var(--brand-color__primary-1);
}

.filters__order1 {
  background-color: var(--neutral-color__neutral-6);
  border: none;
  height: 47px;
  width: 11em; /* 189px; */
  margin-right: 4em; /* 64.5px;*/
  border-radius: 16px;
  color: #595555;
  font: var(--font-paragrafo);
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.filters__order__select1 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-right: 5em; /* 64.5px;*/
  margin-top: 12px;
  padding: 16px;
  border-radius: 16px;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(38, 38, 38, 0.3);
}

.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal__content__body {
  padding: 16px;
  width: 640px;
  height: 221px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 16px 16px;
  background-color: var(--neutral-color__neutral-7);
}

.modal__content__body--title {
  font: var(--font-title-1);
  color: var(--brand-color__primary-1);
  height: 53px;
  text-align: center;
}

.modal__content__body--text {
  font: var(--font-title-1);
  color: var(--neutral-color__neutral-0);
  height: 53px;
  text-align: center;
}

.modal__content__body--input-yes,
.modal__content__body--input-no {
  width: 190px;
  margin: 16px;
}

/*products*/
.products {
  width: 100%;
  height: 644px;
  margin-bottom: 122px;
}

.products__content {
  display: flex;
  justify-content: center;
}

.products__content__sem-cadastro {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 302px;
  grid-template-rows: 157.89px 54px 54px 51px;
  grid-gap: 16px;
}

.products__content__sem-cadastro--img {
  display: flex;
  justify-content: center;
}

.products__content__sem-cadastro--title {
  font: var(--font-subtitle-2);
  color: var(--brand-color__primary-1);
  text-align: center;
}

.products__content__sem-cadastro--text {
  font: var(--font-subtitle-2);
  color: var(--neutral-color__neutral-0);
  text-align: center;
}

.products__content__com-cadastro {
  display: none;
  margin-top: 32px;
}

.products__content__com-cadastro__card {
  background-color: var(--neutral-color__neutral-6);
  width: 640px;
  height: 196px;
  margin-bottom: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.products__content__com-cadastro__card--disponível {
  display: grid;
  grid-template-columns: 168px 208px 1px 152px;
  gap: 32px;
}

.products__content__com-cadastro__card--disponível-box {
  background-color: var(--neutral-color__neutral-6);
  border-radius: 16px;
}

.products__content__com-cadastro__card--disponível-box-img {
  margin: 14px 0;
  border-radius: 16px;
}

.products__content__com-cadastro__card--disponível-box-line {
  margin: 8px 0;
  background-color: #000000;
}

.products__content__com-cadastro__card--disponível-box-text {
  padding-bottom: 4px;
  margin: 8px 0;
}

.title {
  color: var(--brand-color__primary-1);
  font: var(--font-paragrafo);
}

.subtitle {
  color: var(--brand-color__primary-0);
  font: var(--font-paragrafo);
}

.description {
  color: var(--neutral-color__neutral-2);
  font: var(--font-paragrafo);
}

.value {
  color: var(--brand-color__secondary-0);
  font: var(--font-paragrafo);
}

.options {
  color: var(--neutral-color__neutral-0);
  font: var(--font-paragrafo);
}

.products__content__com-cadastro__card--disponível-box-options {
  margin: 11px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.products__content__com-cadastro__card--disponível-box-options div {
  text-align: center;
}

.products__content__com-cadastro__btn {
  display: flex;
  justify-content: flex-end;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 93px;
  background-color: var(--neutral-color__neutral-6);
}

.footer__text {
  font: var(--font-paragrafo);
  color: var(--neutral-color__neutral-2);
}

/*Cadastros*/
.registration {
  width: 100%;
}

.registration__img {
  margin-top: 40px;
  margin-left: 64px;
}

.registration__title {
  margin-top: 64px;
  width: 640px;
}

.registration__title__title {
  display: flex;
  font: var(--font-subtitle-1);
}

.registration__title__title__text {
  margin-left: 8px;
}

.registration__title__legenda {
  font: var(--font-legend);
  margin-top: 8px;
}

.registration__content {
  display: flex;
  justify-content: center;
}

.registration__form {
  height: 914px;
  width: 640px;
  margin-top: 26px;
}

.registration__form__label-float {
  position: relative;
  margin-bottom: 32px;
  padding-top: 16px;
  font: var(--font-paragrafo);
  color: var(--neutral-color__neutral-2);
}

.registration__form__label-float input,
.registration__form__label-float textarea,
.registration__form__select {
  border: 1px solid var(--brand-color__primary-1);
  font: var(--font-paragrafo);
  color: var(--neutral-color__neutral-2);
  border-radius: 16px;
  width: 640px;
  height: 56px;
  transition: all 0.3s ease-out;
}

.registration__form__label-float input:focus,
.registration__form__label-float textarea:focus,
.registration__form__select:focus {
  border: 1px solid var(--brand-color__primary-1);
  outline: 0;
}

.registration__form__select {
  margin-bottom: 32px;
  padding-left: 16px;
}

.registration__form__select option {
  color: var(--brand-color__primary-1);
}

.registration__form__label-float label {
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: 0;
  margin-top: 24px;
  transition: all 0.3s ease-out;
  margin-left: 16px;
}

.registration__form__label-float input:focus + label,
.registration__form__label-float input:not(:placeholder-shown) + label,
.registration__form__label-float textarea:focus + label,
.registration__form__label-float textarea:not(:placeholder-shown) + label {
  font: var(--font-legend);
  margin-top: -4px;
  color: var(--brand-color__primary-1);
  background-color: var(--neutral-color__neutral-7);
  margin-left: 16px;
}

.registration__form__characters {
  text-align: right;
  border: none !important;
  color: var(--brand-color__primary-0);
}

.registration__form__radio {
  display: grid;
  grid-template-columns: 202px;
  grid-template-rows: repeat(4 24px);
  gap: 20px;
  font: var(--font-paragrafo);
  color: var(--neutral-color__neutral-0);
  margin-bottom: 15px;
}

.registration__form__radio__input {
  -webkit-appearance: none;
  border: 1px solid var(--brand-color__primary-0);
  background-color: var(--neutral-color__neutral-6);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.registration__form__radio__input:checked {
  background-color: var(--brand-color__primary-0);
}

.registration__form__btn-form {
  width: 192px;
  float: right;
}

.registration__description {
  font: var(--font-paragrafo);
  color: var(--brand-color__primary-1);
  margin-top: 32px;
  width: 640px;
}

.registration__uploads {
  display: grid;
  grid-template-columns: 642px;
  grid-template-rows: 248px 210px 51px;
  grid-gap: 32px;
  font: var(--font-paragrafo);
  color: var(--neutral-color__neutral-2);
  margin-top: 83px;
  margin-bottom: 153px;
}

.registration__uploads__box {
  background-color: var(--neutral-color__neutral-6);
  border: 1px solid var(--brand-color__primary-1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration__uploads__box__box {
  width: 241px;
  text-align: center;
}

.registration__uploads input {
  float: right;
  width: 192px;
}

.box1 {
  justify-content: space-between;
}

.box2 {
  width: 304px;
}
