:root {
  --brand-color__primary-0: #f29c46;
  --brand-color__primary-1: #c14d19;
  --brand-color__secondary-0: #72bc54;
  --neutral-color__neutral-0: #262626;
  --neutral-color__neutral-1: #292929;
  --neutral-color__neutral-2: #666666;
  --neutral-color__neutral-3: #a3a3a3;
  --neutral-color__neutral-4: #cccccc;
  --neutral-color__neutral-5: #e0e0e0;
  --neutral-color__neutral-6: #f5f5f5;
  --neutral-color__neutral-7: #ffffff;
  --font-title-1: normal 20px Segoe UI;
  --font-paragrafo: normal 17px/24px Segoe UI;
  --font-subtitle-1: 600 17px Segoe UI;
  --font-subtitle-2: 200 17px Segoe UI;
  --font-button: 600 17px Montserrat;
  --font-legend: normal 17px Segoe UI;
}
/*
#elemento { font: italic small-caps bold 12px/18px Arial, Helvetica, Verdana }

font-weight: 100 - Thin (Hairline); 200 - Extra Light (Ultra Light, Ultra Fino);
300 - Light (Fino); 400 - Normal; 500 - Medium (Médio);
600 - Semi Bold (Demi Bold, Semi Negrito); 700 - Bold (Negrito);
800 - Extra Bold (Ultra Bold, Super Negrito); 900 - Black (Heavy)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;
  height: 117px;
  background-color: var(--brand-color__primary-0);
  display: flex;
  justify-content: space-between;
}

.header__title {
  display: flex;
  align-items: center;
  margin-left: 4.25em; /* 68px;*/
}

.header__exit {
  display: block;
  align-items: center;
  margin-top: 38px;
  margin-right: 3.9em; /* 63px*/
}

.header__title__text {
  font: var(--font-title-1);
}

.header__title__img {
  margin-right: 2.25em; /* 36px;*/
}

.header__exit__text {
  font: var(--font-legend);
}

.categories {
  width: 100%;
}

.categories__container {
  padding-right: 2.4vw; /*32px;*/
  padding-left: 4.8vw; /*64px;*/
  display: flex;
  justify-content: space-between;
}

.categories__container .btn {
  margin-right: 2.4vw; /*32px;*/
  margin-top: 2.4vw; /*32px;*/
}

/*botões*/
.btn {
  font: var(--font-button);
  border-radius: 16px;
  height: 7.8vh; /*51px;*/
  width: 22.3vw; /*18em; 304px;*/
  min-width: 9.5vw; /*130px*/
}
.btn__habilitado--primary,
.btn__selecionado--primary,
.modal__content__body--input-yes {
  background-color: var(--brand-color__primary-1);
  color: var(--neutral-color__neutral-7);
  border-color: var(--brand-color__primary-1);
}

.btn__habilitado--secondary,
.btn__selecionado--secondary,
.modal__content__body--input-no {
  border-color: var(--brand-color__primary-1);
  color: var(--brand-color__primary-1);
}

.btn__habilitado--tertiary {
  border-color: var(--neutral-color__neutral-0);
  color: var(--neutral-color__neutral-0);
  background-color: var(--neutral-color__neutral-7);
}

.btn__habilitado--tertiary:active,
.btn__habilitado--tertiary:hover {
  border-color: var(--brand-color__secondary-0);
  color: var(--brand-color__secondary-0);
}

.btn__selecionado--tertiary {
  background-color: var(--neutral-color__neutral-7);
  border-color: var(--brand-color__secondary-0);
  color: var(--brand-color__secondary-0);
}
.btn__desabilitado--primary {
  background-color: var(--neutral-color__neutral-3);
  color: var(--neutral-color__neutral-7);
}
.btn__desabilitado--secondary,
.btn__desabilitado--terciary {
  border-color: var(--neutral-color__neutral-3);
  color: var(--neutral-color__neutral-3);
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 120px;
  justify-content: space-between;
}

.filters__products {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4em; /* 64.5px;*/
}

.filters__products__all {
  font: var(--font-paragrafo);
  display: flex;
  align-items: flex-start;
}

.filters__products__all--img {
  padding-right: 8px;
}

.filters__products__search {
  background-color: var(--neutral-color__neutral-6);
  background-image: url(assets/icons/ic_busca.svg);
  background-position-y: center;
  background-position-x: left;
  background-position: 14px;
  background-repeat: no-repeat;
  height: 47px;
  width: 40em; /* width: 640px;*/
  margin-left: 8.2em; /* margin-left: 140px; */
  padding-left: 50px;
  color: #595555;
  font: var(--font-paragrafo);
  border-radius: 16px;
  display: flex;
  align-items: center;
  border: none;
}

/*dropdown*/
.filters__order {
  background-color: var(--neutral-color__neutral-6);
  background-image: url(assets/icons/ic_down.svg);
  background-position-y: center;
  background-position-x: right;
  background-position: 149px;
  background-repeat: no-repeat;
  height: 47px;
  width: 11em; /* 189px; */
  margin-right: 4em; /* 64.5px;*/
  border-radius: 16px;
  color: #595555;
  font: var(--font-paragrafo);
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.filters__order__select {
  display: inline;
  position: relative;
}

.filters__order__select__options li a {
  color: #000000;
  font: var(--font-paragrafo);
  text-decoration: none;
  display: inline-block;
  transition: background 0.8s;
}

.filters__order ul li a:hover {
  color: var(--brand-color__primary-1);
}

/*options*/
.filters__order__select:hover ul {
  display: block;
  transition: 1s;
  cursor: pointer;
}

.filters__order__select__options {
  display: none;
  left: 0;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-right: 5em; /* 64.5px;*/
  margin-top: 12px;
  padding: 16px;
  border-radius: 16px;
  width: 11em; /* 189px; */
  height: 96px;
}

.filters__order ul ul li a {
  display: block;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(38, 38, 38, 0.3);
}

.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal__content__body {
  padding: 16px;
  width: 640px;
  height: 221px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 16px 16px;
  background-color: var(--neutral-color__neutral-7);
}

.modal__content__body--title {
  font: var(--font-title-1);
  color: var(--brand-color__primary-1);
  height: 53px;
  text-align: center;
}

.modal__content__body--text {
  font: var(--font-title-1);
  color: var(--neutral-color__neutral-0);
  height: 53px;
  text-align: center;
}

.modal__content__body--input-yes,
.modal__content__body--input-no {
  width: 190px;
  margin: 16px;
}

/*products*/
.products {
  display: none;
  display: flex;
  width: 100%;
  margin-top:36px;
  justify-content: center;
}

.products__content__sem-cadastro--title {
  font: var(--font-subtitle-2);
  color: var(--brand-color__primary-1);
  text-align: center;
}

.products__content__sem-cadastro--text {
  font: var(--font-subtitle-2);
  color: var(--neutral-color__neutral-0);
  text-align: center;
  /*
  margin-top: 16px;
  margin-bottom: 215px;
  width: 14.3em; /* 244px;*/
}

.products__content__com-cadastro{
  display: none;
}
  /*

.products__content {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}




.products__content__com-cadastro__card--disponível {
  background-color: var(--neutral-color__neutral-6);
  width: 37.6em /* 640px*/;
  height: 196px;
  border-radius: 16px;
}
*/

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 93px;
  background-color: var(--neutral-color__neutral-6);
}

.footer__text {
  font: var(--font-paragrafo);
  color: var(--neutral-color__neutral-2);
}
